.slideBar {
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  border-right: 1px solid #c4c7c5;
  gap: 22px;
  width: 14.3%;
  overflow-y: auto;
  background-color: white;
}

.slideBarElement {
  display: flex;
}

.slideBarIndex {
  font-family: Roboto;
  font-size: 18;
  color: rgb(65 65 65 / 100%);
  margin-left: 17px;
}

.slideBarWrapper {
  width: 160px;
  height: 94px;
  margin-left: 12px;
  border-radius: 10px;
  outline: 1px solid #a6a6a6;
  justify-content: center;
  overflow: hidden;
}

.slideBarWrapperSelected {
  width: 160px;
  height: 94px;
  margin-left: 12px;
  border-radius: 10px;
  outline: 2px solid rgb(0 146 192 / 100%);
  overflow: hidden;
}

.slideBarSlide {
  width: 860px;
  height: 484px;
  transform: scale(0.2);
  display: flex;
  transform-origin: 0 0;
  position: relative;
  overflow: hidden;
}
