.slide-bar {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding-top: 22px;
  border-right: 1px solid #c4c7c5;
  gap: 22px;
  overflow-y: auto;
  width: 244px;
  height: 558px;
}

.slide-bar__element {
  display: flex;
}

.slide-bar__index {
  font-family: Roboto;
  font-size: 18;
  color: rgb(65 65 65 / 100%);
  margin-left: 23px;
}

.slide-bar__wrapper {
  width: 160px;
  height: 94px;
  margin-left: 20px;
  border-radius: 10px;
  outline: 1px solid #a6a6a6;
}

.slide-bar__wrapper_selected {
  width: 160px;
  height: 94px;
  margin-left: 20px;
  border-radius: 10px;
  outline: 2px solid rgb(0 146 192 / 100%);
}

.slide-bar__slide {
  width: 1169px;
  height: 770px;
  transform: scale(0.1);
  display: flex;
  justify-content: center;
  transform-origin: 0 0;
}
