.toolBar {
  width: 94%;
  height: 36px;
  background-color: rgb(0 163 255 / 32%);
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: left;
  margin-top: 7px;
  margin-left: 20px;
  gap: 15px;
  padding-left: 59px;
  align-items: center;
}

.buttonIcon {
  border: 0;
  background: none;
  width: 20px;
  height: 20px;
  padding: 0;
}

.materialSymbolsOutlined {
  object-fit: fill;
}

.v1 {
  width: 0;
  height: 61%;
  border-left: 1px solid rgb(172 172 172 / 100%);
}

.numberInput {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 15px;
  color: rgb(98 98 98 / 100%);
  width: 4%;
}

.numberInput:hover {
  outline: 0;
}

.numberInput:focus {
  outline: 0;
}
